<f:layout name="DefaultLayout" />

<f:section name="content">
<f:comment><!-- switch according display mode --></f:comment>
<span class="tx_thrating_ajax-voting-On {f:if(condition: voting, then: '', else: 'hidden')}">
		<f:comment><!-- display if any vote has be done yet --></f:comment>
		<f:render partial="usersRating" arguments="{voting:voting, ratingClass:ratingClass, ratingobject:rating.ratingobject, ratingName:ratingName, stepCount:stepCount, usersRate:usersRate}"/>
</span>
<span class="tx_thrating_ajax-voting-Off {f:if(condition: voting, then: 'hidden', else: '')}">
	<f:comment><!-- display normal ratinglinkblock --></f:comment>
	<f:render partial="ratinglinkBlock" arguments="{voting:voting, ratingClass:ratingClass, ratingobject:rating.ratingobject, ratingName:ratingName, rating:rating, currentRates:rating.currentRates.currentrate, stepCount:stepCount, barimage:barimage, ajaxSelections:ajaxSelections}"/>
</span>
</f:section>
<f:comment>
<!--
******************************************************************************************
* Forwarded variables
* --------------------
* ==> all variables used in defaultLayout
* {barimage}		-	ratingbar / noratingbar
* {rating}			-	the ratingObject
* {ratingName}		-	Name of the ratinglink
* {ratingClass}		-	tilt / normal
* {ajaxSelections}	-	associative array of possible ratingsteps consisting of
*						[order of ratingstep]
*							['step'] 		- Domain object: stepconf
*							['ajaxvalue']	- JSON encoded value to handle AJAX request
******************************************************************************************
-->
</f:comment>