{namespace thr=Thucke\ThRating\ViewHelpers}
<f:layout name="DefaultLayout" />

<f:section name="content">
<div class='tx-thrating-newVote'>
	<span data-role="onVotingHidden" style="{f:if(condition: voting, then: 'display:none;', else: '')}">
		<thr:select class="ajaxLink" name="ajaxSelect" options="{ajaxSelections}" additionalOptions="{0 : '-- choose one --'}" />
	</span>
</div>
<f:render partial="ShowVote" arguments="{voting:voting, ratingobject:rating.ratingobject, rating:rating, voter:voter}"/>
</f:section>
<f:comment><!--
******************************************************************************************
* Forwarded variables
* ********************
* ==> all variables used in defaultLayout
* {ajaxSelections}	-	associative array of possible ratingsteps consisting of
*						[order of ratingstep]
*							['step'] 		- Domain object: stepconf
*							['ajaxvalue']	- JSON encoded value to handle AJAX request
******************************************************************************************
--></f:comment>
