<f:layout name="PollingLayout" />

<f:section name="content">
<f:render partial="pollinglinkBlock" arguments="{voting:voting, ratingClass:ratingClass, ratingobject:rating.ratingobject, ratingName:ratingName, currentPollDimensions:currentPollDimensions, stepCount:stepCount, barimage:barimage, ajaxSelections:ajaxSelections}"/>
</f:section>
<f:comment>
<!--
******************************************************************************************
* Forwarded variables
* ********************
* ==> all variables used in defaultLayout
* {barimage}				-	ratingbar / noratingbar
* {currentPollDimensions}	-	associative array contains style definition
*								['step']				- steporder number
*								['value']				-  current polling value in percent
*								['backgroundPos']		-  css style for normal display
*								['backgroundPosTilt']	-  css style for tilt display
* {ratingName}				-	Name of the ratinglink
* {ratingClass}				-	tilt / normal
* {ajaxSelections}			-	associative array of possible ratingsteps consisting of
*								[order of ratingstep]
*								['step'] 		- Domain object: stepconf
*								['ajaxvalue']	- JSON encoded value to handle AJAX request
******************************************************************************************
-->
</f:comment>