{namespace thr=Tx_ThRating_ViewHelpers}
<f:layout name="defaultLayout" />

<f:section name="content">
<f:if condition="{ratingName}"><f:then>
	<div name='tx-thrating-ratinglinks'>
		<ul class='thRating thRating-{ratingClass} thRating-RObj{ratingobject.uid}-{ratingName}'>
			<f:if condition="{calculatedRate}"><f:then>
			<li class='current-rating {barimage}' style="{calculatedRate}" title='Current rating is {currentRates} out of {stepCount}' >Current rating is {currentRates} out of {stepCount}</li>
			</f:then></f:if>
			<!-- Only generate links if a  FE user is logged on -->
			<f:if condition="{ajaxSelections}"><f:then>
				<f:for each="{ajaxSelections}" as="ajaxSelection">
				<li><thr:ratinglink class="ajaxLink RObj{ratingobject.uid}-StpOdr{ajaxSelection.step.steporder}-ratingstep-{ratingClass} {barimage}" title='{ajaxSelection.step.stepname}' href='#' tabindex='-1' ><input type="hidden" name="ajaxSelect" value="{ajaxSelection.ajaxvalue}" />{ajaxSelection.step.steporder}</thr:ratinglink></li>
				</f:for>
			</f:then></f:if>
		</ul>	
	</div>
</f:then></f:if>
</f:section>