<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="DefaultLayout" />

<f:section name="content">
<f:render partial="ShowVote" arguments="{voting:voting, ratingobject:rating.ratingobject, rating:rating, voter:voter}"/>
</f:section>
<f:comment><!--
******************************************************************************************
* Forwarded variables
* ********************
* ==> all variables used in defaultLayout
******************************************************************************************
--></f:comment>
</html>
