<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:thr="Thucke\ThRating\ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="DefaultLayout" />

<f:section name="content">
<f:render partial="ShowVote" arguments="{voting:voting, ratingobject:rating.ratingobject, rating:rating, voter:voter}"/>
</f:section>
<f:comment><!--
******************************************************************************************
* Forwarded variables
* ********************
* ==> all variables used in defaultLayout
******************************************************************************************
--></f:comment>
