<f:layout name="defaultLayout" />

<f:section name="content">
	<div class="tx-thrating-showVote">
	<f:if condition="{voting}"><f:then>
			<p style="white-space:nowrap;">{voter.username} has voted '{voting}' on {ratingobject.ratetable}:{ratingobject.ratefield}:{rating.ratedobjectuid}</p>
	</f:then></f:if>
	</div>
</f:section>
<!--
******************************************************************************************
* Forwarded variables
* --------------------
* ==> all variables used in defaultLayout
******************************************************************************************
-->