<div id="tx-thrating-pi1-singleton">
	<f:form method="post" controller="Vote" action="create" name="vote" id="vote" object="{vote}" pageType="1349058974">
		<f:form.hidden property="vote"></f:form.hidden>
		<f:form.hidden property="voter"></f:form.hidden>
		<f:form.hidden property="rating"></f:form.hidden>
		<f:form.hidden name="settings" value="filled_by_JS"></f:form.hidden>
		<f:form.hidden name="ajaxRef" value="filled_by_JS"></f:form.hidden>
	</f:form>
	<div class='tx-thrating-singleton-message'>
		<f:flashMessages as="flashMessages">
	        <f:for each="{flashMessages}" as="flashMessage">
	            <div class="alert {flashMessage.class}">
	                <h4 class="alert-title">{flashMessage.title}</h4>
	                <div class="alert-message">{flashMessage.message}</div>
	            </div>
	        </f:for>
		</f:flashMessages>
	</div>
</div>
<f:comment>
<!--
******************************************************************************************
* Forwarded variables
* ********************
* ==> all variables used in defaultLayout
*
* This content is only a placeholder to pass AJAX requests to the server.
* The generated form field will be filled dynamically by javascript depending on the
* JSON value in {ajaxSelections}[ratingstep]['ajaxvalue'].
******************************************************************************************
-->
</f:comment>