<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div id="tx-thrating-pi1-singleton">
	<f:form method="post" controller="Vote" action="create" name="vote" id="vote" object="{vote}" pageType="1349058974">
		<f:form.hidden property="vote" />
		<f:form.hidden property="voter"/>
		<f:form.hidden property="rating"/>
		<f:form.hidden name="settings" value="filled_by_JS"/>
		<f:form.hidden name="ajaxRef" value="filled_by_JS"/>
	</f:form>
	<div class='tx-thrating-singleton-message'>
        <div class='tx-thrating-flash-message' aria-live="assertive" aria-atomic="false" aria-relevant="text">
            <f:flashMessages />
        </div>
	</div>
</div>
<f:comment>
<!--
******************************************************************************************
* Forwarded variables
* ********************
* ==> all variables used in defaultLayout
*
* This content is only a placeholder to pass AJAX requests to the server.
* The generated form field will be filled dynamically by javascript depending on the
* JSON value in {ajaxSelections}[ratingstep]['ajaxvalue'].
******************************************************************************************
-->
</f:comment>
</html>
