<f:comment><!-- display check --></f:comment>
<span data-role="onVotingHidden" style="{f:if(condition: voting, then: 'display:none;', else: '')}">
	<f:if condition="{settings.fluid.partials.infoBlock.showAnonymousVotes}"><f:then>
	<span data-role="onAnonymousVotingActive" style="{f:if(condition: anonymousVoting, then: '', else: 'display:none;')}">
		<f:translate key='fluid.partial.infoBlock.anonymousVoting' default='fluid.partial.infoBlock.anonymousVoting' htmlEscape="false" />
	</span>
	</f:then></f:if>
	<f:comment><!-- Check if a  FE user is logged on --></f:comment>
	<span data-role="onHasRatedActive" style="{f:if(condition: voting.hasrated, then: '', else: 'display:none;')}">
		<f:if condition="{ratingName}"><f:then>
			<f:comment><!--This is a special entry for the ratinglink action --></f:comment>
			<f:translate key='fluid.partial.infoBlock.clickRatingBar' default='fluid.partial.infoBlock.clickRatingBar'/>
		</f:then></f:if>	
	</span>
	<span data-role="onVoterHidden" style="{f:if(condition: voter, then: 'display:none;', else: '')}">
		<f:translate key='fluid.partial.infoBlock.logonForRatings' default='fluid.partial.infoBlock.logonForRatings'/>
	</span>
</span>
<f:comment>
<!--
******************************************************************************************
* This partial mainly displays the basic info block when no rating has be done yet
******************************************************************************************
* Needed variables
* ********************
* {voting}			-	the current handled votex
* {anonymousVoting}	-	true/false if anonymous voting is enabled
* {voter}			-	Domain object: voter (anonymous voter if enabled an nobody is logged on)
* {ratingName}		-	Name of the ratinglink (set only on ratinglink action)
******************************************************************************************
-->
</f:comment>