<f:if condition="{settings.fluid.partials.infoBlock.showAnonymousVotes}"><f:then>
	<f:if condition="{anonymousVoting}"><f:then>
		<f:translate key='fluid.partial.infoBlock.anonymousVoting' default='fluid.partial.infoBlock.anonymousVoting' htmlEscape="false" />
	</f:then></f:if>
</f:then></f:if>
<f:if condition="{voter}"><f:then>
	<f:if condition="{ratingName}"><f:then>
		<f:translate key='fluid.partial.infoBlock.clickRatingBar' default='fluid.partial.infoBlock.clickRatingBar'/>
	</f:then></f:if>
</f:then><f:else>
	<f:translate key='fluid.partial.infoBlock.logonForRatings' default='fluid.partial.infoBlock.logonForRatings'/>
</f:else></f:if>	
<!--
******************************************************************************************
* This partial mainly displays the basic info block when no rating has be done yet
******************************************************************************************
* Needed variables
* --------------------
* {anonymousVoting}	-	true/false if anonymous voting is enabled
* {voter}			-	Domain object: voter (anonymous voter if enabled an nobody is logged on)
* {ratingName}		-	Name of the ratinglink (set only on ratinglink action)
******************************************************************************************
-->
