<f:if condition="{ratingName}"><f:then>
	<div class='tx-thrating-ratinglinks thRating-RObj{rating.ratingobject.uid}-{ratingName}'>
		<div class="ajaxWait"></div>
		<ul class='thRating thRating-{ratingClass}'>
			<f:if condition="{settings.fluid.templates.ratinglinks.likesMode}">
			<f:then><f:comment><!-- display no current rating if in likesMode --></f:comment></f:then>
			<f:else>
			<li class="current-rating {barimage} {f:if(condition: '{0: ratingClass} == {0: \'tilt\'}', then: 'tx_thrating_ajax-ratingCalculatedRateHeight', else: 'tx_thrating_ajax-ratingCalculatedRateWidth')}"
				style="{f:if(condition: '{0: ratingClass} == {0: \'tilt\'}', then: 'height:{rating.calculatedRate}%;', else: 'width:{rating.calculatedRate}%;')} {f:if(condition: '{rating.calculatedRate}', then: '', else: 'display:none;')}"
				title="<f:translate key='fluid.template.ratinglinks.currentRating' default='fluid.template.ratinglinks.currentRating' arguments='{1:currentRates, 2:stepCount}'/>">
				<f:translate key='fluid.template.ratinglinks.currentRating' default='fluid.template.ratinglinks.currentRating' arguments='{1:currentRates, 2:stepCount}'/>
			</li>
			</f:else></f:if>
			<f:comment><!-- Only generate links if a  FE user is logged on --></f:comment>
			<f:if condition="{ajaxSelections}"><f:then>
				<f:for each="{ajaxSelections}" as="ajaxSelection">
				<li><span data-role="onRatedHidden" class="ajaxLink RObj{rating.ratingobject.uid}-StpOdr{ajaxSelection.step.steporder}-ratingstep-{ratingClass} {barimage}" title='{ajaxSelection.step}' tabindex='-1' >
						<input type="hidden" name="ajaxSelect" value="{ajaxSelection.ajaxvalue}" />
						{ajaxSelection.step.steporder}
					</span>
				</li>
				</f:for>
			</f:then></f:if>
		</ul>
        <f:if condition="{settings.fluid.templates.ratinglinks.tooltips}"><f:then>
        <div class='stepnameTooltip' aria-life="polite" aria-atomic="false" aria-relevant="text">&nbsp;</div>
        </f:then></f:if>
	</div>
</f:then></f:if>
<f:comment>
<!--
******************************************************************************************
* This partial displays the vote that the current user has placed
******************************************************************************************
* Needed variables
* ********************
* {ratingClass}		-	tilt / normal
* {ratingName}		-	Name of the ratinglink
* {rating}			-	the ratingObject
* {barimage}		-	ratingbar / noratingbar
* {ajaxSelections}	-	associative array of possible ratingsteps consisting of
*						[order of ratingstep]
*							['step'] 		- Domain object: stepconf
*							['ajaxvalue']	- JSON encoded value to handle AJAX request
******************************************************************************************
-->
</f:comment>