	<div class="tx-thrating-showVote">
		<span data-role="onVotingActive" style="{f:if(condition: voting, then: '', else: 'display:none;')}">
			<p style="white-space:nowrap;"><span class="tx_thrating_ajax-voterUsername">{voter.username}</span> has voted '<span class="tx_thrating_ajax-votingStepname">{voting}</span>' on <span class="tx_thrating_ajax-ratingRatingobjectRatetable">{ratingobject.ratetable}</span>:<span class="tx_thrating_ajax-ratingRatingobjectRatefield">{ratingobject.ratefield}</span>:<span class="tx_thrating_ajax-ratingRatedobjectuid">{rating.ratedobjectuid}</span></p>
		</span>
	</div>
<!--
******************************************************************************************
* Forwarded variables
* --------------------
* ==> all variables used in defaultLayout
******************************************************************************************
-->