<div class="tx-thrating-pi1-content {settings.ratingContext}" id='tx-thrating-pi1-{ajaxRef}'>
	<div class='tx-thrating-content'>
	<f:if condition="{stepCount} > 0">
	  <f:then>
		<f:if condition="{settings.fluid.layouts.default.showSectionContent}"><f:then>
			<f:render section="content" />
		</f:then></f:if>
		<f:if condition="{settings.fluid.layouts.default.hideSummary}==0"><f:then>
		<div class='tx-thrating-summary'>
			<f:if condition="{settings.fluid.layouts.default.showCurrentRates}"><f:then>
				<f:if condition="{currentRates}"><f:then>
					<f:translate key='fluid.layout.default.currentRating' default='fluid.layout.default.currentRating' arguments="{1:currentRates, 2:'{f:count(subject:\"{rating.votes}\")}'}"/>
					<f:if condition="{anonymousVotes}"><f:then>
					<br/><f:translate key='fluid.layout.default.anonymousVotes' default='fluid.layout.default.anonymousVotes' arguments='{1:anonymousVotes}'/>
					</f:then></f:if>
				</f:then><f:else>
					<f:translate key='fluid.layout.default.noRatingDone' default='fluid.layout.default.noRatingDone'/>
				</f:else></f:if>
				<br/>
			</f:then></f:if>
			<f:if condition="{settings.fluid.templates.ratinglinks.likesMode}"><f:then>
			</f:then><f:else>
				<f:if condition="{voting}"><f:then>
					<f:render partial="usersRating" arguments="{voting:voting, ratingClass:ratingClass, ratingobject:ratingobject, ratingName:ratingName, stepCount:stepCount, usersRate:usersRate}"/>
				</f:then><f:else>
					<f:render partial="infoBlock" arguments="{anonymousVoting:anonymousVoting, voter:voter, ratingName:ratingName}"/>
				</f:else></f:if>	
			</f:else></f:if>
		</div>
		</f:then></f:if>	
	</f:then><f:else>
		<f:translate key='fluid.layout.default.noRatingSteps' default='fluid.layout.default.noRatingSteps'/>
	</f:else></f:if>
	<div class='tx-thrating-flash-message'>
		<f:flashMessages renderMode="div" />
	</div>
<!--
Rating: <f:format.number decimals="1" decimalSeparator="," thousandsSeparator=".">{currentRates}</f:format.number> of {stepCount}. <f:count>{rating.votes}</f:count> vote(s).
*************************************************************************************************
* Forwarded variables
* --------------------
* {settings}			-	complete extension configuration array
* {ajaxRef}				-	Name of the ratinglink
* {ratingobject}		- 	Domain object: ratingabject
* {rating}				- 	Domain object: rating
* {voter}				-	Domain object: voter (anonymous voter if enabled an nobody is logged on)
* {currentRates}		-	calculated current rating
* {stepCount}			-	overall number of ratingsteps
* {anonymousVotes}		- 	number of anonymous votes being done on this rating
* {anonymousVoting}		-	true/false if anonymous voting is enabled
* {voting}				-	the users original vote (stepconf) domain object if one exists
* {usersRate}			-	style definition for users rating in percent
* {staticPreContent}	- 	HTML formatted content that will be includes IN FRONT OF extension content (NOT changed by AJAX)
* {staticPostContent}	- 	HTML formatted content that will be includes AFTER extension content (NOT changed by AJAX)
* {preContent}			- 	HTML formatted content that will be includes IN FRONT OF extension content (changed by AJAX)
* {postContent}			- 	HTML formatted content that will be includes AFTER extension content (changed by AJAX)
*************************************************************************************************
-->