{namespace thr=Thucke\ThRating\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{ajaxRef}"><f:then>
<div class="tx-thrating-pi1-content {settings.ratingContext}" id='{ajaxRef}'>
	<div id='{richSnippetObject.anchor}' class='tx-thrating-staticPreContent'><f:format.raw>{staticPreContent}</f:format.raw></div>
	<div class='tx-thrating-content' aria-live="polite" aria-atomic="false" aria-relevant="text">
		<div class='tx-thrating-preContent'><f:format.raw>{preContent}</f:format.raw></div>
	<f:if condition="{stepCount} > 0"><f:then>
		<span class="dummy4focus" tabindex="-1"></span>
		<f:comment><!-- display check regarding section 'content' of view action--></f:comment>
		<f:if condition="{settings.fluid.layouts.default.showSectionContent}"><f:then>
			<f:render section="content" />
		</f:then></f:if>
		<f:if condition="{settings.fluid.layouts.default.showSummary}"><f:then>
		<div class='tx-thrating-summary' itemscope itemtype="http://schema.org/{richSnippetObject.schema}">
			<f:comment><!-- display check regarding rating summary information --></f:comment>
			<f:if condition="{settings.fluid.layouts.default.showCurrentRates}"><f:then>
				<meta itemprop="name" content="{richSnippetObject.name}"/>
				<meta itemprop="description" content="{richSnippetObject.description}"/>
				<f:if condition="{lib.thrating.ratedObjectUrl}"><f:then>
					<meta itemprop="url" content="<f:cObject typoscriptObjectPath='lib.thrating.ratedObjectUrl' />">
				</f:then><f:else>
					<meta itemprop="url" content="<f:cObject typoscriptObjectPath='lib.thrating.ratingInstanceUrl' />#{richSnippetObject.anchor}">
				</f:else></f:if>
				<f:if condition="{lib.thrating.ratedObjectImage}"><f:then>
					<meta itemprop="image" content="<f:cObject typoscriptObjectPath='lib.thrating.ratedObjectImage' />">
				</f:then></f:if>
				<span data-role="onCurrentRateActive" style="{f:if(condition: rating.currentRates.currentrate, then: '', else: 'display:none;')}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
					<f:format.raw><f:translate key='fluid.layout.default.currentRating' default='fluid.layout.default.currentRating' arguments="{1:rating.currentRates.currentrate, 2:'{f:count(subject:\"{rating.votes}\")}'}"/></f:format.raw>
					<f:if condition="{anonymousVotes}"><f:then>
					<br/><f:format.raw><f:translate key='fluid.layout.default.anonymousVotes' default='fluid.layout.default.anonymousVotes' arguments='{1:anonymousVotes}'/></f:format.raw>
					</f:then></f:if>
					<meta itemprop="bestRating" content="{stepCount}"/>
					<meta itemprop="worstRating" content="1"/>
					<meta itemprop="ratingValue" content="{rating.currentRates.currentrate}"/>
					<meta itemprop="ratingCount" content="{rating.currentRates.numAllVotes}"/>
				</span>
				<span data-role="onCurrentRateHidden" style="{f:if(condition: rating.currentRates.currentrate, then: 'display:none;', else: '')}">
					<f:translate key='fluid.layout.default.noRatingDone' default='fluid.layout.default.noRatingDone'/>
				</span>
				<br/>
			</f:then></f:if>
			<f:if condition="{actionMethodName}=='MarkAction'"><f:then>
				<f:comment><!--Display nothing if we are in likesMode - Users rating is already shown in content section--></f:comment>
			</f:then><f:else>
				<f:render partial="UsersRating" arguments="{voting:voting, ratingClass:ratingClass, ratingobject:rating.ratingobject, ratingName:ratingName, stepCount:stepCount, usersRate:usersRate}"/>
				<f:render partial="InfoBlock" arguments="{voting:voting, anonymousVoting:anonymousVoting, voter:voter, ratingName:ratingName}"/>
			</f:else></f:if>
		</div>
		</f:then></f:if>
	</f:then><f:else>
		<p style="white-space:nowrap;">
			<f:translate key='fluid.layout.default.noRatingSteps' default='fluid.layout.default.noRatingSteps'/>
		</p>
	</f:else></f:if>
		<div class='tx-thrating-postContent'><f:format.raw>{postContent}</f:format.raw></div>
	</div>
	<div class='tx-thrating-staticPostContent'><f:format.raw>{staticPostContent}</f:format.raw></div>
	<div class='tx-thrating-flash-message' aria-live="assertive" aria-atomic="false" aria-relevant="text">
        <f:flashMessages />
	</div>
</div>
</f:then></f:if>
<f:comment><!--
	<thr:Typo3Version testVersion='7.3' testOperator='<=' />
Rating: <f:format.number decimals="1" decimalSeparator="," thousandsSeparator=".">{rating.currentRates.currentrate}</f:format.number> of {stepCount}. <f:count>{rating.votes}</f:count> vote(s).
*************************************************************************************************
* Forwarded variables
* ********************
* {actionMethodName}	-	name of the currently handled action
* {settings}			-	complete extension configuration array
* {ajaxRef}				-	Name of the ratinglink
* {rating}				- 	Domain object: rating
* {voter}				-	Domain object: voter (anonymous voter if enabled an nobody is logged on)
* {rating.currentRates}	-	calculated current rating
* {stepCount}			-	overall number of ratingsteps
* {anonymousVotes}		- 	number of anonymous votes being done on this rating
* {anonymousVoting}		-	true/false if anonymous voting is enabled
* {voting}				-	the users original vote (stepconf) domain object if one exists
* {usersRate}			-	style definition for users rating in percent
* {staticPreContent}	- 	HTML formatted content that will be includes IN FRONT OF extension content (NOT changed by AJAX)
* {staticPostContent}	- 	HTML formatted content that will be includes AFTER extension content (NOT changed by AJAX)
* {preContent}			- 	HTML formatted content that will be includes IN FRONT OF extension content (changed by AJAX)
* {postContent}			- 	HTML formatted content that will be includes AFTER extension content (changed by AJAX)
* {richSnippetObject}	- 	schema.org object supporting properties [name, description, url]
*************************************************************************************************
-->
</f:comment>
</html>
