/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.ajaxWait {
    display:    none;
    position:   absolute;
    z-index:    1000;
    height:     inherit;
    width:      inherit;
    background: rgba( 255, 255, 255, .8 )
                url('ajaxWait.gif')
                50% 50%
                no-repeat;
}
/* Anytime the DIV has the loading class, our
   modal element will be visible */
.tx-thrating-pi1-content.loading .ajaxWait {
    display: inline;
}

#formResult {height: 20px; }
#tx-thrating-pi1-singleton{
	visibility:hidden;
}
.tx-thrating-singleton-message {
	visibility:visible;
	position:fixed;
	width:40%;
	z-index:100;
	top:100px;
	left:10em;
	background-color: #a7a7a7;
	border:0px solid black;
}

.tx-thrating-singleton-message h4 {
	padding:1px;
	margin:0;
	background-color: #f87575;
    border: 1px dotted grey;
	font-weight:bold;
}

div.tx-thrating-ratinglinks > div.stepnameTooltip{
    display:none;
    visibility:hidden;
}
div.tx-thrating-ratinglinks > div.stepnameTooltipOn {
    visibility:visible;
    display:block;
    position:absolute;
    top:-2em;
    left:1em;
    min-width:3em;
    border:1px solid #505050;
    border-radius:0.7em;
    -webkit-border-radius:0.7em;
    -moz-border-radius:0.7em;
    background-color:#ffff99;
    color:#000;
    text-align: center;
    padding:2px 0.8em 2px 0.8em;
    font-size: 0.8em;
    box-shadow: 6px 6px 4px #6B6A6A;
	z-index:99;
}
div.tx-thrating-ratinglinks ul{
    position:relative;
    list-style:none;
    margin:0px;
    padding:0px;
    height:     inherit;
    width:      inherit;
}
.thrating-normal {
    background-position:left top;
}
.thRating-tilt{
    background-position:right bottom;
}
.thRating span,
.thRating .current-rating,
.thRating .current-poll{
    position:absolute;
    bottom:0;
    left:0;
    outline:0px;
    overflow:hidden;
    border: 0px;
    text-indent:-1000em;
}
.thRating-normal span:hover,
.thRating-normal span:active,
.thRating-normal span:focus{
    background-position: left bottom;
}
.thRating-normal .current-rating{
    z-index:1;
    background-position: left center;
}
.thRating-normal .current-poll{
	height:100%;
    z-index:1;
}
.thRating-normal .currentPollText {
	text-indent:0em;
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	min-width:100%;
	text-align:center;
}
.thRating-tilt .current-poll{
	width:100%;
    z-index:1;
}
.thRating-tilt .currentPollText {
	text-indent:0em;
	min-height:100%;
	text-align:center;
}

.currentPollText{
	background:none !important;
	font-family:Sans-Serif;
	font-weight:normal;
	font-size:80%;
	z-index:2;
}

/* necessary because of bug in IE
	values below 28% are displayed shifted */
.thRating-tilt span.noratingbar:hover,
.thRating-tilt span.noratingbar:active,
.thRating-tilt span.noratingbar:focus{
    background-position: left top;
}
.thRating-tilt li.noratingbar {
    background-position: center top !important;
}
.thRating-tilt span.ratingbar:hover,
.thRating-tilt span.ratingbar:active,
.thRating-tilt span.ratingbar:focus{
    background-position: left bottom;
}

.thRating-tilt .current-rating{
    z-index:1;
    background-position: center bottom;
}
.thRating-tilt .current-poll{
    z-index:1;
}
.tx-thrating-pi1-content{
	position:relative;
	width:0px;
}
.tx-thrating-summary{
	white-space:nowrap;
	font-size:0.6em;
	line-height:1.4em;
	margin-top:1em;
    clear:left;
}
.tx-thrating-flash-message{
	position:absolute;
	display:none;
	padding:3px;
	top:1.5em;
	left:1.5em;
	background-color: #a7a7a7;
	border:1px solid #505050;
	min-width:10em;
	max-width:30em;
    overflow:hidden;
    z-index:100;
    border-radius:0.5em;
    -webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    box-shadow: 6px 6px 4px #6B6A6A;
}
.tx-thrating-flash-message h4{
    border: 1px dotted grey;
	padding:1px;
	margin:0;
	font-weight:bold;
    -webkit-border-top-left-radius:0.4em;
    -webkit-border-top-right-radius:0.4em;
    -moz-border-radius-topleft:0.4em;
    -moz-border-radius-topright:0.4em;
    border-top-left-radius:0.4em;
    border-top-right-radius:0.4em;
    -webkit-border-bottom-right-radius: 0.2em;
    -webkit-border-bottom-left-radius: 0.2em;
    -moz-border-radius-bottomright: 0.2em;
    -moz-border-radius-bottomleft: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}
.tx-thrating-flash-message .alert {
    border: 1px dotted grey;
    padding:1px;
    margin:0px;
}
.tx-thrating-flash-message .alert p {
    margin-top:0.15em;
    margin-bottom: 0;
}
.tx-thrating-flash-message .alert-title {
    font-weight:bold;
}
.tx-thrating-flash-message .alert-danger h4 {
	background-color: #c8453c;
}
.tx-thrating-flash-message .alert-warning h4 {
	background-color: #e8a13d;
}
.tx-thrating-flash-message .alert-notice h4 {
	background-color: #363636;
}
.tx-thrating-flash-message .alert-info h4 {
	background-color: #6ba9df;
}
.tx-thrating-flash-message .alert-success h4 {
	background-color: #75a049;
}
.tx-thrating-flash-message {
	padding-top:3px;
}
.tx-thrating-flash-message li{
	display:inline;
    float:left;
}
.tx-thrating-flash-message ul{
	padding:0px;
	margin:0px;
}
